/******************************************************************************/
/* COLORS                                                                     */
/******************************************************************************/

.hbm-color-fill-primary {
  fill: $hbm-color-highlight;
}

.hbm-color-bg-primary {
  background-color: $hbm-color-highlight;
}

.hbm-color-fill-secondary {
  fill: $hbm-color-secondary;
}

.hbm-color-bg-secondary {
  background-color: $hbm-color-secondary;
}
