/******************************************************************************/
/* BURDA NOW - COLORS                                                         */
/******************************************************************************/

$white: rgb(255,255,255); // White
$white-paper: rgb(255,255,255); // White - Paper

$black: rgb(0,0,0); // Black
$black-ink: rgb(0,0,0); // Black - Ink

/******************************************************************************/

$light-grey: rgb(240,235,235); // Light Grey
$base-grey: rgb(229,218,218); // Base Grey
$deep-grey: rgb(204,184,184); // Deep Grey
$dark-grey: rgb(92,80,78); // Dark Grey

$light-grey-pearl-dust: rgb(240,235,235); // Light Grey - Pearl Dust
$base-grey-soft-taupe: rgb(229,218,218); // Base Grey - Soft Taupe
$deep-grey-dusty-heather: rgb(204,184,184); // Deep Grey - Dusty Heather
$dark-grey-smoked-clay: rgb(92,80,78); // Dark Grey - Smoked Clay

/******************************************************************************/

$base-red: rgb(250,45,40); // Base Red
$deep-red: rgb(195,40,36); // Deep Red
$dark-red: rgb(163,32,29); // Dark Red

$base-red-cherry-pop: rgb(250,45,40); // Base Red - Cherry Pop
$deep-red-red-carpet: rgb(195,40,36); // Deep Red - Red Carpet
$dark-red-velvet-crush: rgb(163,32,29); // Dark Red - Velvet Crush

/******************************************************************************/

$base-purple: rgb(150,130,255); // Base Purple
$deep-purple: rgb(96,60,254); // Deep Purple
$dark-purple: rgb(51,3,167); // Dark Purple

$base-purple-lilac-cloud: rgb(150,130,255); // Base Purple - Lilac Cloud
$deep-purple-electric-grape: rgb(96,60,254); // Deep Purple - Electric Grape
$dark-purple-blackberry-ink: rgb(51,3,167); // Dark Purple - Blackberry Ink

/******************************************************************************/

$base-pink: rgb(255,105,225); // Base Pink
$deep-pink: rgb(240,34,199); // Deep Pink
$dark-pink: rgb(191,1,153); // Dark Pink

$base-pink-soft-blush: rgb(255,105,225); // Base Pink - Soft Blush
$deep-pink-magenta-bloom: rgb(240,34,199); // Deep Pink - Magenta Bloom
$dark-pink-fuchsia-fizz: rgb(191,1,153); // Dark Pink - Fuchsia Fizz

/******************************************************************************/

$base-orange: rgb(255,110,0); // Base Orange
$deep-orange: rgb(227,98,0); // Deep Orange
$dark-orange: rgb(187,81,0); // Dark Orange

$base-orange-tangerine-flash: rgb(255,110,0); // Base Orange - Tangerine Flash
$deep-orange-juicy-punch: rgb(227,98,0); // Deep Orange - Juicy Punch
$dark-orange-ember-glow: rgb(187,81,0); // Dark Orange - Ember Glow

/******************************************************************************/

$base-yellow: rgb(255,226,50); // Base Yellow
$deep-yellow: rgb(236,208,33); // Deep Yellow
$dark-yellow: rgb(221,189,0); // Dark Yellow

$base-yellow-lemon-drop: rgb(255,226,50); // Base Yellow - Lemon Drop
$deep-yellow-honey-glow: rgb(236,208,33); // Deep Yellow - Honey Glow
$dark-yellow-golden-grain: rgb(221,189,0); // Dark Yellow - Golden Grain

/******************************************************************************/

$base-green: rgb(105,220,150); // Base Green
$deep-green: rgb(24,162,118); // Deep Green
$dark-green: rgb(10,125,93); // Dark Green

$base-green-fresh-mint: rgb(105,220,150); // Base Green - Fresh Mint
$deep-green-wild-leaf: rgb(24,162,118); // Deep Green - Wild Leaf
$dark-green-black-forest: rgb(10,125,93); // Dark Green - Black Forest

/******************************************************************************/

$base-blue: rgb(115,180,255); // Base Blue
$deep-blue: rgb(13,141,254); // Deep Blue
$dark-blue: rgb(0,89,192); // Dark Blue

$base-blue-bavarian-breeze: rgb(115,180,255); // Base Blue - Bavarian Breeze
$deep-blue-open-sky: rgb(13,141,254); // Deep Blue - Open Sky
$dark-blue-night-tide: rgb(0,89,192); // Dark Blue - Night Tide

/******************************************************************************/
